[Unit]
Description=nooron.org

[Service]
WorkingDirectory=/home/nooron/pynooron
ExecStart=/home/nooron/pynooron/run_nooron.py
Restart=always
StandardOutput=syslog
SyslogIdentifier=nooron_org
User=nooron
Group=nooron
Environment=PORT=8000
Environment=FQDN=nooron.org
Environment=PROTOCOL=https
Environment=IP=127.0.0.1
Environment=USER=nooron

[Install]
WantedBy=multi-user.target
