<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html metal:use-macro="container/standard_master/macros/master">
  <head>
    <title tal:content="template/title"></title>
  </head>

  <body>

<div metal:fill-slot="main">
<h1 tal:content="python:get_frame_pretty_name(here) or get_frame_name(here)"></h1>



<span  tal:define="items python:get_instance_types(here,inference_level=DIRECT)[0]" 
       tal:condition="items">
  <strong>classes:</strong>
  <span tal:repeat="item items">
    <em><a href="link"
        	   tal:define="url python:get_frame_name(item)"
		   tal:attributes="href url"
           	   tal:content="url">click me</a></em>, 
  </span>
  <br/>
</span>
<i><p tal:content="structure python:get_slot_value(here,':DOCUMENTATION')[0] or ''"></p></i>
<span  tal:define="items python:get_class_instances(here)[0]" 
       tal:condition="items">
  <strong>instances:</strong>
  <ul>
  <span tal:repeat="item items">
    <li	><a href="link"
            tal:define="url python:get_frame_name(item)"
	    tal:attributes="href url"
            tal:content="python:get_frame_pretty_name(item) or url">click me</a></li>	
  </span>
  </ul>
</span>



<div tal:define="test python:0" tal:condition="test">

</div>


<hr>
$Id: class_and_instances.html,v 1.4 2003/02/07 23:41:10 smurp Exp $
</div>
  </body>
</html>

