<tal:dummy 
     define="global document_title string:Welcome to Nooron"/><tal:block 
     metal:use-macro="container/standard_master/macros/master">

<div metal:fill-slot="available_actions">
<a href="#welcome">Welcome to Nooron</a><hr/>

</div>


<div metal:fill-slot="available_garments">
</div>

<div metal:fill-slot="main">


<a name="welcome"><h3>Welcome to Nooron: the DogFood edition!</h3></a>

<p>
Hello fellow early adopters of Nooron!
</p>

<h4>Interesting Knowledge Here...</h4>
<UL>
<li><a href="/know/best_practices">Best Practices</a></li>
<li><a href="/know/best_practices_project">Best Practices Software Project</a></li>
<li><a href="/know/nooron_project">Nooron Project</a></li>
<li><a href="/know/nooron_pattern_language">Nooron Pattern Language</a></li>
<li><a href="/know/nooron_faq">Nooron FAQ</a></li>
<li><a href="/know/computing_systems">Computing Systems</a></li>
<li><a href="/know/smurp_web_log">smurp's blog</a></li>
<li><a href="/know/">... all knowledge bases</a></li>
<li><a href="/TODO">TODO</a></li>
<li><a href="http://en.wikipedia.org/wiki/Template_Attribute_Language">TAL/METAL docs</a></li>

</UL>

<h4>Remote links</h4>
<UL>
<li><a href="http://nooron.org">Nooron.org</a></li>
<li><a href="http://noosphere.org">Noosphere.org</a></li>
<li><a href="/docs/okbc2.html#SECTION00100000000000000000">OKBC Documentatio: Contents</a></li>
<li><a href="/docs/okbc2.html#SECTION00200000000000000000">OKBC Introduction</a></li>
<li><a href="/docs/okbc2.html#SECTION00300000000000000000">OKBC Knowledge Model</a></li>
<li><a href="/docs/okbc2.html#SECTION00400000000000000000">OKBC Operations</a></li>

<li><a href="http://velibri.com">Velibri</a></li>
<li><a href="http://sexandthesingularity.com">Sex and the Singularity</a></li>
<li><a href="http://smurp.com">smurp.com</a></li>
</UL>

<h4>All the Best Practice materials</h4>
<UL>
<li><a href="/know/best_practices">Best Practices</a></li>
<li><a href="/know/best_practices_data">Best Practices (data)</a></li>
<li><a href="/know/best_practice_ontology">Best Practice (ontology)</a></li>
<li><a href="/know/best_practice_wardrobe">Best Practice (wardrobe)</a></li>
<li><a href="/templates/best_practice_overview.html">/templates/best_practice_overview.html</a></li>
<li><a href="/templates/best_practice_graph.dot">/templates/best_practice_graph.dot</a></li>
<li><a href="/templates/best_practice_available_garments">/templates/best_practice_available_garments</a></li>
<li><a href="/templates/best_practice_available_actions">/templates/best_practice_available_actions</a></li>
</UL>



<hr/>

</div>

</tal:block>

