<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html metal:use-macro="container/standard_master/macros/master">
  <head>
    <title>kb as html</title>
  </head>

  <body>

<div metal:fill-slot="lay_docs">
This template lists all the things 
(ie. classes, individuals, facets and slots)
which are immediately contained
within this knowledge base.  
Sometimes this template doesn't show much
because the knowledge base being depicted exists mostly to merge 
together its parent KBs and as a consequence does not 
<strong>directly</strong> contain any frames.  
Maybe its parents do though.  Click on them to find out!
</div>

<div metal:fill-slot="wired_docs">
Kbs which are of the type nooron_app_instance <em 
   tal:condition="python:instance_of_p(current_kb(),'nooron_app_instance')">
, such as this one,</em> are generally empty for this reason 
because their
purpose is to apply the templates [garments?] in a nooron_app_wardrobe
KB to the data [individuals] in a nooron_app_data KB.
</div>

<div metal:fill-slot="nerd_docs">
Since the purpose of this template is to show only those
frames which are directly in this KB you will notice that
 <code>kb_local_only_p=1</code> is used in most of the OKBC calls.
</div>


<div metal:fill-slot="main">
<h1 tal:content="here"></h1>

<dl tal:define="docs python:get_slot_value(here,':DOCUMENTATION')[0] or ''"
    tal:condition="docs">
  <dt><strong tal:content="structure python:get_doc_for(get_slot_value)+'(here,:DOCUMENTATION)'">link</strong></dt>
  <dd tal:content="structure docs"></dd>
</dl>

<dl tal:define="items python:get_kb_direct_parents(here)" 
       tal:condition="items">

  <dt><strong tal:content="structure python:get_doc_for(get_kb_direct_parents)">link</strong>:
  <dd>
  <span tal:repeat="item items">
    <em><a href="link"
        	   tal:define="url python:get_frame_name(item)"
		   tal:attributes="href python:'../'+url"
           	   tal:content="url">click me</a></em>, 
  </span>
  </dd>
</dl>

<dl tal:define="items python:get_kb_direct_children(here)" 
       tal:condition="items">
  <dt><strong tal:content="structure python:get_doc_for(get_kb_direct_children)">link</strong>:
  <dd>
  <span tal:repeat="item items">
    <em><a href="link"
        	   tal:define="url python:get_frame_name(item)"
		   tal:attributes="href python:'../'+url"
           	   tal:content="url">click me</a></em>, 
  </span>
  </dd>
</dl>

<dl tal:define="items python:get_instance_types(here)[0]" 
       tal:condition="items">
  <dt><strong tal:content="structure python:get_doc_for(get_instance_types)">link</strong>:
  <dd>
  <span tal:repeat="item items">
    <em><a href="link"
           tal:define="url python:get_frame_name(item)"
	   tal:attributes="href url"
           tal:content="url">click me</a></em>, 
  </span>
  </dd>
</dl>




<table border="1"
       tal:define="items python:get_kb_classes(kb_local_only_p=1)" 
       tal:condition="items">
  <caption><strong tal:content="structure python:get_doc_for(get_kb_classes)">link</strong></caption>
  <tr>
    <th>frame</th>
    <th><a href=":DOCUMENTATION">:DOCUMENTATION</a></th>
  </tr>
  <tr tal:repeat="item items">
    <td><a href="link"
           tal:define="url python:here.get_frame_name(item)"
	   tal:attributes="href url"
           tal:content="url">click me</a></td>
    <td tal:content="structure python: here.get_slot_value(item,':DOCUMENTATION')[0] or '&nbsp;'">link</td>
  </tr>
</table>

<table border="1"
       tal:define="items python:get_kb_slots(kb_local_only_p=1)" 
       tal:condition="items">
  <caption><strong tal:content="structure python:get_doc_for(get_kb_slots)">link</strong></caption>
  <tr>
    <th>frame</th>
    <th><a href=":DOMAIN">:DOMAIN</a></th>
    <th><a href=":DOCUMENTATION">:DOCUMENTATION</a></th>
  </tr>
  <tr tal:repeat="item items">
    <td><a href="link"
           tal:define="url python:here.get_frame_name(item)"
	   tal:attributes="href url"
           tal:content="url">click me</a></td>
    <td tal:content="python:here.get_slot_values(item,':DOMAIN')[0]"></td>
    <td tal:content="structure python: here.get_slot_value(item,':DOCUMENTATION')[0] or '&nbsp;'">link</td>
  </tr>
</table>

<table border="1"
       tal:define="items python:get_kb_facets(kb_local_only_p=1)" 
       tal:condition="items">
  <caption><strong tal:content="structure python:get_doc_for(get_kb_facets)">link</strong></caption>
  <tr>
    <th>frame</th>
    <th><a href=":DOCUMENTATION">:DOCUMENTATION</a></th>
  </tr>
  <tr tal:repeat="item items">
    <td><a href="link"
           tal:define="url python:here.get_frame_name(item)"
	   tal:attributes="href url"
           tal:content="url">click me</a></td>
    <td tal:content="structure python: here.get_slot_value(item,':DOCUMENTATION')[0] or '&nbsp;'">link</td>
  </tr>
</table>

<table border="1"
       tal:define="items python:get_kb_individuals(kb_local_only_p=1)" 
       tal:condition="items">
  <caption><strong tal:content="structure python:get_doc_for(get_kb_individuals)">link</strong></caption>
  <tr>
    <th>frame</th>
    <th><a href=":DOCUMENTATION">:DOCUMENTATION</a></th>
  </tr>
  <tr tal:repeat="item items">
    <td><a href="link"
           tal:define="url python:here.get_frame_name(item)"
	   tal:attributes="href url"
           tal:content="url">click me</a></td>
    <td tal:content="structure python: here.get_slot_value(item,':DOCUMENTATION')[0] or '&nbsp;'">link</td>
  </tr>
</table>




<div tal:define="test python:0" tal:condition="test">

</div>

<hr>
$Id: kb.html,v 1.2 2003/02/07 23:41:10 smurp Exp $
</div>
  </body>
</html>
