
<dl>
  <dt>root</dt>
  <dd tal:content="root"></dd>

  <dt>here</dt>
  <dd tal:content="here"></dd>

  <dt>template</dt>
  <dd><i>tal:content="template"</i></dd>

  <dt>container</dt>
  <dd tal:content="container"></dd>

  <dt>options</dt>
  <dd tal:content="options"></dd>

  <dt>request</dt>
  <dd tal:content="request"></dd>

  <dt>user</dt>
  <dd tal:content="user"></dd>

  <dt>modules</dt>
  <dd tal:content="modules"></dd>

</dl>
<hr>
$Id: namespace,v 1.5 2002/08/12 22:48:33 smurp Exp $
