<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html metal:use-macro="container/standard_master/macros/master">
  <head>
    <title tal:content="template/title"></title>
  </head>

  <body>

<div metal:fill-slot="main">
<h1 tal:content="python:get_frame_pretty_name(here) or here"></h1>


<p><em tal:content="python:get_slot_value(here,':DOCUMENTATION')[0] or ''"></em></p>


<span tal:define="items python:get_kb_direct_parents(here)" 
       tal:condition="items">
This knowledgebase merges together these others:
  <ul>
  <tal:dummy repeat="item items">
    <li tal:condition="python:not 'PRIMORDIAL_KB' == str(item)">
    <em><a href="link"
        	   tal:define="url python:get_frame_name(item)"
		   tal:attributes="href python:'../'+url"
           	   tal:content="url">click me</a></em>
    </li>
  </tal:dummy>
  </ul>
</span>



<tal:dummy
    define="app_classes python:get_class_instances('nooron_app_class')[0]"
    condition="app_classes">
<tal:block 
     repeat="app_class app_classes">
<tal:dummy
     condition="python:not instance_of_p(app_class,'AbstractClass')[0]">
<table border="1">
  <caption>
    <strong>
      <a href=""
         tal:attributes="href app_class"
         tal:content="app_class"></a>&nbsp;instances</strong>

  </caption>
  <tr tal:repeat="instance python:get_class_instances(app_class)[0]">
    <td><a href="link"
           tal:define="url python:here.get_frame_name(instance)"
	   tal:attributes="href url"
           tal:content="url">click me</a></td>
    <td tal:content="structure python: here.get_slot_value(instance,':DOCUMENTATION')[0] or '&nbsp;'">link</td>
  </tr>
</table>
<br/><br/>
</tal:dummy>
</tal:block>
</tal:dummy>



















<div tal:define="test python:0" tal:condition="test">




<dl tal:define="items python:get_kb_direct_children(here)" 
       tal:condition="items">
  <dt><strong tal:content="structure python:get_doc_for(get_kb_direct_children)">link</strong>:
  <dd>
  <span tal:repeat="item items">
    <em><a href="link"
        	   tal:define="url python:get_frame_name(item)"
		   tal:attributes="href python:'../'+url"
           	   tal:content="url">click me</a></em>
  </span>
  </dd>
</dl>






<table border="1"
       tal:define="items python:get_class_instances('nooron_app_class')[0]" 
       tal:condition="items">
  <caption><strong tal:content="structure python:get_doc_for(get_class_instances) + '(nooron_app_class)'">link</strong></caption>
  <tr tal:repeat="item items">
    <td><a href="link"
           tal:define="url python:here.get_frame_name(item)"
	   tal:attributes="href url"
           tal:content="url">click me</a></td>
    <td tal:content="structure python: here.get_slot_value(item,':DOCUMENTATION')[0] or '&nbsp;'">link</td>
  </tr>
</table>


</div>










<hr>
$Id: nooron_app.html,v 1.8 2003/06/27 13:40:28 smurp Exp $
</div>
  </body>
</html>
