<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html metal:use-macro="container/standard_master/macros/master">
  <head>
    <title tal:content="template/title"></title>
  </head>

  <body>

<div metal:fill-slot="main">
<h1 tal:content="python:get_frame_pretty_name(here) or get_frame_name(here)"></h1>

<p><em tal:content="python:get_slot_value(here,':DOCUMENTATION')[0] or ''"></em></p>


<ul tal:define="items python:get_class_instances('pattern')[0]" 
    tal:condition="items">
  <li tal:repeat="item items"><a href="link"
     	 tal:define="url python:get_frame_name(item)"
         tal:attributes="href url"
         tal:content="python:get_frame_pretty_name(item) or 
                             get_frame_name(item)">click me</a></li>
</ul>

<img src="" 
     tal:attributes="src python:request.object_request()+'__pattern_language_graph.dot.jpg'"/>


<hr>
$Id: pattern_language.html,v 1.6 2003/04/01 16:04:16 smurp Exp $
</div>
  </body>
</html>
