<tal:block 
     metal:use-macro="container/standard_master/macros/master">

<div metal:fill-slot="main">
<h1 tal:content="python:get_frame_pretty_name(here) or get_frame_name(here)"></h1>

<p><em tal:content="python:get_slot_value(here,':DOCUMENTATION')[0] or ''"></em></p>


<ul tal:define="items python:get_class_instances('pattern')[0]" 
    tal:condition="items">
  <li tal:repeat="item items"><a href="link"
     	 tal:define="url python:get_frame_name(item)"
         tal:attributes="href url"
         tal:content="python:get_frame_pretty_name(item) or 
                             get_frame_name(item)">click me</a></li>
</ul>

<img
   tal:attributes="src python:request.object_request()+'__pattern_language_graph.dot.jpg';
                   alt python:(get_frame_pretty_name(here) 
                               or get_frame_name(here))
                              + ' Graph'"/>


<hr/>
$Id: pattern_language.html,v 1.7 2003/07/09 16:35:13 smurp Exp $
</div>


</tal:block>
