<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html metal:use-macro="container/standard_master/macros/master">
  <head>
    <title tal:content="python: 'oink'"></title>
  </head>

  <body>

<div metal:fill-slot="main">

<h1 tal:content="python:get_frame_pretty_name(here) or get_frame_name(here)"></h1>

<span  tal:define="items python:get_instance_types(here,inference_level=DIRECT)[0]" 
       tal:condition="items">
  <strong>web log categories:</strong>
  <span tal:repeat="item items">
    <em tal:condition="python: str(item) != 'web_log_entry' and
                               str(item) != ':INDIVIDUAL'"><a href="link"
        	   tal:define="url python:get_frame_name(item)"
		   tal:attributes="href url"
           	   tal:content="url">click me</a></em>
  </span>
  <br/>
</span>


<p tal:content="python:get_slot_value(here,'web_log_text')[0] or ''"></p>


<span  tal:define="urls python:get_slot_values(here,'web_log_url')[0]" 
       tal:condition="urls">
  <!-- better would be some sort of slot value e.g. plural_for_instances-->
  <b>urls:</b>
  <ul>
  <span tal:repeat="url urls">
    <li	><a href=""
	   tal:attributes="href url"
           tal:content="url">click me</a></li>
	
  </span>
  </ul>
</span>







<div tal:define="test python:0" tal:condition="test">

</div>

<hr>
$Id: web_log_entry.html,v 1.2 2003/02/07 23:41:10 smurp Exp $
</div>
  </body>
</html>
