<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html metal:use-macro="container/standard_master/macros/master">
  <head>
    <title tal:content="python: get_frame_name(here)"></title>
  </head>

  <body>

<div metal:fill-slot="main">
<h1 tal:content="python: get_frame_name(here)"></h1>

<span tal:define="items python:get_class_instances(here)[0]" 
      tal:condition="items">
  <strong>Categories</strong><br/>
  <ul>
  <span tal:repeat="item items">
    <li	><a href="booger"
        	   tal:define="url python:get_frame_name(item)"
		   tal:attributes="href url"
           	   tal:content="url">click me</a></li>
	
  </span>
  </ul>
</span>

<i><p tal:content="python:get_slot_value(here,':DOCUMENTATION')[0]"></p></i>

<div tal:define="test python:0" tal:condition="test">

</div>



<hr>
$Id: web_log_category_self.html,v 1.1 2002/12/05 16:45:45 smurp Exp $
</div>
  </body>
</html>
