<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html metal:use-macro="container/standard_master/macros/master">
  <head>
    <title tal:content="here/getBaseNames"></title>
  </head>

  <body>

<div metal:fill-slot="main">
<h1 tal:content="python: here.getBaseNames()[0] + ' instances'"></h1>


<span  tal:define="items here/getOccurrenceResources" 
       tal:condition="items">
  <p tal:repeat="item items">
    <span tal:replace="python:item.getData()">data</span>
  </p>
</span>

<span tal:define="items here/getInstances" 
      tal:condition="items">
  <ul>
  <span tal:repeat="item items">
    <li tal:content="structure item/getLink">link</li>
  </span>
  </ul>
</span>


<div tal:define="test python:0" tal:condition="test">

</div>



<hr>
$Id: web_log_entry_self.html,v 1.1 2002/12/05 16:42:37 smurp Exp $
</div>
  </body>
</html>
